.rodape {
  background-color: var(--azul-escuro);
  color: var(--branco);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}

.rodape div {
  margin-bottom: 8px;
}